body {
  min-width: 700px;
  max-width: 1334px;
  min-height: 100vh;
  background: #f9f9f9;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
